doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Advanced Galleries in Distro

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Advanced Galleries in Distro

      // Part 1 - Dennis Gallery Advanced: What? Why? How?
      // Brief on background
      // Attila
      include ./part1.jade

      // Part 2 - Backbone, Require & me
      // Brief tech intro
      // Attila
      include ./part2.jade

      // Part 3 - Features and functionality
      // Detailed functionality overview
      // Attila?
      include ./part3.jade

      // Part 4 - Internal structure
      // Detailed structural overview
      // Daniel
      include ./part4.jade

      // Part 5 - Working with Drupal - Flexibility and Extendability
      // Detailed Drupaly things
      // Attila
      include ./part5.jade

      // Part 6 - Going responsive on any site
      // The CSS bits
      // Daniel
      include ./part6.jade

      // Part 7 - Results
      // Some data if we can get hold of
      // Attila
      include ./part7.jade

      // Part 8 - End
      // Attila & Daniel
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Questions
        br
        br
        h3 (you may get answers)

    script(src='build/build.js')
