section
  h2 Dennis Gallery Advanced
  br
  h2 What? Why? How?

section
  h2 What?
  br
  br
  br
  h2 Dennis Gallery Advanced
  br
  br
  br
  ul
    li
      h3 Out of the box solution for Distro sites
    li
      h3 Feature module
    li
      h3 Can Coexist with previous gallery
    li
      h3 Uses the same fields as Dennis Gallery

section
  h2 Why?
  br
  br
  br
  ul
    li
    li
      h3 Because of Dennis Gallery

section.emphatic-text(data-bespoke-backdrop='emphatic' style='background: url(../images/1-dennis_gallery_er.jpg) no-repeat center center; background-size: 100% auto')
  ul
    li
    li
      h2.shake.shake-slow.shake-constant
        strong(style='color:red; font-size:200px; border:22px solid; padding:.15em;') FAIL

section
  h2 How?
  br
  br
  h3 New approach → Start from scratch
  ul
    li
    li
      h4 Identified requirements
    li
      h4 Did tech research
    li
      h4 Built static HTML prototype
    li
      h4 Tested Search Engine Friendliness
    li
      h4 Started on architecture and identified key tools
