section
  h1 Features and functionality

section
  h1 Modularity
  br
  br
  br
  br
  br
  h3 Decoupled modules
  h3 Separation of concerns

section
  h1 Markup
  br
  br
  br
  br
  br
  h4 Single page
  h4 No AJAX
  h4 &lt;noscript&gt;
  h4 Indexable

section.emphatic-text(data-bespoke-backdrop='empathic' style='background: url(./images/3-source.png) no-repeat center center; background-size: 100% auto')

section
  h1 List view
  br
  br
  br
  br
  br
  br
  br
  ul
    h4 Standard Drupal page with a long list of images with details and individual sharing
    h4 Uses lazy loading → saves bandwidth
    br
    br
    h4 Still under construction

section
  h1 Presentation view
  br
  br
  br
  br
  br
  br
  br
  h4 This is the default
  h4 Same markup as list for images
  h4 Launched as overlay but has own shareable URL

section.emphatic-text(data-bespoke-backdrop='backdrop-dark' style='background: url(./images/3-sample.jpg) no-repeat center center; background-size: 100% auto')

section.emphatic-text(data-bespoke-backdrop='backdrop-dark' style='background: url(./images/3-sample-info.jpg) no-repeat center center; background-size: 100% auto')

section.emphatic-text(data-bespoke-backdrop='backdrop-dark' style='background: url(./images/3-sample-nav.jpg) no-repeat center center; background-size: 100% auto')

section.emphatic-text(data-bespoke-backdrop='backdrop-dark' style='background: url(./images/3-sample-ads.jpg) no-repeat center center; background-size: 100% auto')

section
  h1 Modules
  br
  br
  br
  br
  br
  br
  br
  h3 Main modules by functionality

section
  h1 Swiper.js
  br
  br
  br
  br
  br
  br.bullet
  h4.bullet http://www.idangero.us/sliders/swiper/
  h4.bullet Until we can find something better
  br
  br
  br
  br
  h5.bullet Or write our own

section
  h1 Thumbnails
  br
  br
  br
  br
  br
  br.bullet
  h4.bullet Backbone.js Collection of Images
  h4.bullet Elements rendered by JS, not served by PHP
  h4.bullet Lazy loaded to handle large amount of images

section
  h1 Full image
  br
  br
  br
  br
  br.bullet
  h4.bullet Modal view of original image

section
  h1 Share buttons
  br
  img(src='./images/3-sample-share.jpg' width='480' height='300')
  br
  br.bullet
  h4.bullet Current version uses AddThis (loaded async)
  h4.bullet Next version 7.x uses RRSSB and Sharerich

section
  h3 GPT Ads
  h4 Refresh ad unit on every nth (configurable)
  h4 Refresh ad unit on change after n secs (configurable)

section
  h3 Vibrant Media image ads
  h4 Refresh ad unit on every nth (configurable)
  h4 Refresh ad unit on change after n secs (configurable)

section
  h3 Tracking
  h4 Pageviews
  h4 Event tracking (configurable killswitch)
