section
  h2 Going responsive on any site
  ul
    li
    li The ads
    li User Interface

section.imgfull.forced-white(data-bespoke-backdrop='forced-white')
  img(src='./images/6-responsive-sass.png')