section
  h2 Features and functionality

section
  h3 Modularity
  h4 Decoupled modules, separation of concerns

section
  h3 Markup
  h4 Single page, no AJAX, noscript, indexable

section
  h3 List and Presentation modes
  h4 Single checkbox, different look

section
  h3 List view
  br
  ul
    li Buzzfeed like list of images with details and sharing
    li Uses lazy loading
    li Under construction but easy to finish

section
  h3 Presentation view
  p This is the default
  p Lives on its own URL, can be launched in an overlay

section
  h3 Modules
  p Main modules by functionality

section
  h3 Swiper
  h4 Until we can find something better
  p Or write our own

section
  h3 Thumbnails
  p Custom solution
  p Lazy loaded thumbs to handle large amount of images

section
  h3 Full image
  p Modal view

section
  h3 Sharing
  h4 Current version uses AddThis (loaded async)
  h4 Next version in 7.x uses RRSSB and Sharerich

section
  h3 GPT Ads
  h4 Refresh ad unit on every nth (configurable)
  h4 Refresh ad unit on change after n secs (configurable)

section
  h3 Vibrant Media image ads
  h4 Refresh ad unit on every nth (configurable)
  h4 Refresh ad unit on change after n secs (configurable)

section
  h3 Tracking
  h4 Pageviews
  h4 Event tracking (configurable killswitch)
