section
  h1 Features and functionality

section
  h1 Modularity
  br
  br
  br
  br
  br
  h3 Decoupled modules
  h3 Separation of concerns

section
  h1 Markup
  br
  br
  br
  br
  br
  h4 Single page
  h4 No AJAX
  h4 &lt;noscript&gt;
  h4 Indexable

section.emphatic-text(data-bespoke-backdrop='empathic' style='background: url(./images/3-source.png) no-repeat center center; background-size: 100% auto')

section
  h1 List view
  br
  br
  br
  br
  br
  br
  br
  ul
    h4 Standard Drupal page with a long list of images with details and individual sharing
    h4 Uses lazy loading → saves bandwidth
    br
    br
    h4 Still under construction

section
  h1 Presentation view
  br
  br
  br
  br
  br
  br
  br
  h4 This is the default
  h4 Same markup as list for images
  h4 Launched as overlay but has own shareable URL

section.emphatic-text(data-bespoke-backdrop='backdrop-dark' style='background: url(./images/3-sample.jpg) no-repeat center center; background-size: 100% auto')

section.emphatic-text(data-bespoke-backdrop='backdrop-dark' style='background: url(./images/3-sample-info.jpg) no-repeat center center; background-size: 100% auto')

section.emphatic-text(data-bespoke-backdrop='backdrop-dark' style='background: url(./images/3-sample-nav.jpg) no-repeat center center; background-size: 100% auto')

section.emphatic-text(data-bespoke-backdrop='backdrop-dark' style='background: url(./images/3-sample-ads.jpg) no-repeat center center; background-size: 100% auto')

section
  h3 Modules
  p Main modules by functionality

section
  h3 Swiper
  h4 Until we can find something better
  p Or write our own

section
  h3 Thumbnails
  p Custom solution
  p Lazy loaded thumbs to handle large amount of images

section
  h3 Full image
  p Modal view

section
  h3 Sharing
  h4 Current version uses AddThis (loaded async)
  h4 Next version in 7.x uses RRSSB and Sharerich

section
  h3 GPT Ads
  h4 Refresh ad unit on every nth (configurable)
  h4 Refresh ad unit on change after n secs (configurable)

section
  h3 Vibrant Media image ads
  h4 Refresh ad unit on every nth (configurable)
  h4 Refresh ad unit on change after n secs (configurable)

section
  h3 Tracking
  h4 Pageviews
  h4 Event tracking (configurable killswitch)
