section
  h2 Dennis Gallery Advanced
  h3 What? Why? How?

section
  h3 What?
  h4 Dennis Gallery Advanced
  ul
    li New gallery solution
    li Feature in Dennis Distro
    li Designed to coexist with Dennis Gallery
    li Uses same fields as Dennis Gallery

section
  h3 Why?
  h4 Dennis Gallery
  p it was broken, not user friendly, no pageviews

section
  h3 How?
  h4 Start from scratch
  ul
    li Identify requirements
    li Tech research
    li Build static html prototype
    li Test search engine friendliness
    li Start drawing architecture and identify modules
