section
  h2 Advanced Gallery internal structure

section
  h3 Models
  ul
    li
    li GalleryCount
    li GalleryItem

section.imgfull.forced-dark(data-bespoke-backdrop='forced-dark')
  img(src='./images/4-gallery-navigation.jpg' style='max-width:100%;height:auto;')

section
  h3 Views
  p ...and viewManager
  p
  ul
    li
    li base
      span.bullet → the mother of all
    li infoview
    li maingallery
    li maingallerylist
    li navigationview
    li origimgview
    li thumbnailsview

section.imgfull.forced-dark(data-bespoke-backdrop='forced-dark')
  img(src='./images/4-origimgview.jpg' style='max-width:100%;height:auto;')

section
  h3 Templates
  ul
    li
    li info
    li navigation
    li orig_img
    li thumbnails

section.imgfull.forced-dark(data-bespoke-backdrop='forced-dark')
  img(src='./images/4-origimgview-initiation.png' style='max-width:100%;height:auto;')
section.imgfull.forced-dark(data-bespoke-backdrop='forced-dark')
  img(src='./images/4-origimgview-template.png' style='max-width:100%;height:auto;')

section
  h3 Mediator for module interactions
  p Code examples
  code(style='text-align: left').
    mediator.subscribe('gallery:init', this.setActive);
    mediator.subscribe('gallery:changeStart', this.setActive);
    $(document).on('click', '.thumbnails img', function(e) {
    &nbsp;&nbsp;mediator.publish('gallery:thumbnailClicked', parseInt(e.target.parentElement.getAttribute('href').substring(1)));
    });