section.forced-white(data-bespoke-backdrop='forced-white')
  h1 #5
  h1 Working with Drupal
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  h2 Flexibility and Extendability

section.imgfull
  h1 Bootstrapped data for JS
  img(src='images/5-data.png' style='max-width:80%;height:auto;padding:10px;background-color:white')

section
  h1 Custom templates
  br
  br
  br
  br
  br
  br
  h3 Stripped down html/page/node.tpl.php
  h3 No usual regions rendered
  h4 No sidebar, header, footer

section
  h1 Custom theme functions
  br
  br
  br
  br
  br
  h3 Drop in replacement for theme_image
  br
  h3
    code.language-php theme_gallery_adv_image()

section.imgfull.forced-white(data-bespoke-backdrop='forced-white')
  img(src='images/5-imgsource.png' style='max-width:100%')

section
  h1 Easy integration
  br
  br
  br
  br
  br
  h3 Initialises on any content type where there is an 'Associated Advanced Gallery' field
  br
  h4 Distro content types are covered automatically
  h4 Site-specific content types need the field
  br
  br
  br.bullet
  h3.bullet But of course extensive CSS may be required

section
  h1 WYSIWYG plugin
  br
  br
  br
  br
  br
  h3 For inserting gallery images inline

section
  h1 Mass edit media
  br
  br
  br
  br
  br
  h3 Edit image metadata in one go
