section
  h2 Backbone, Require &amp; me

section
  h2 Backbone.js
  br
  br
  br
  h3 Quick overview
  h3 Why we picked it
  h3 What we use Backbone for

section
  h2 Backbone.js
  h3 Quick overview
  br
  br
  br
  h4 MV* or MVVM framework
  h4 One of the first of its kind
  h4 Not the most popular by now, still widely known
  h4 Depends on Underscore.js and jQuery
  h4 The smallest

section
  h2 Backbone.js
  h3 Why we picked it
  br
  br
  br
  h4 Flexible enough, we don't need all the components
  h4 Store components not bound to a DOM element
  h4 Model and Collections work hassle-free
  h4 Event handling is mature
  h4 Smallest file size among the popular ones

section
  h2 Backbone.js
  h3 What we use Backbone for
  br
  br
  br
  h4 Router
  h4 Event emitter
  h4 Models, Collections (bootstrapped from back-end)
  h4 Easy templating via Underscore.js
  h5 (yes, we prefer JS templating over Drupal here)

section
  h2 Require.js
  br
  br
  br
  h3 Very Quick Overview™
  br
  h4
    a(href='http://attila.github.io/distro-requirejs-talk/') http://attila.github.io/distro-requirejs-talk/
  h4 Why we picked it? (because it's in the distro)

section
  h2 Custom additions
  br
  br
  br
  h3 View manager
  h4 To set Base Views → DRY
  br
  br
  h3 Mediator
  h4 Communication → Globally, across modules
