section
  h2 Advanced Gallery internal structure

section
  h3 Models

section
  h3 Views
  p ...and viewManager

section
  h3 Templates

section
  h3 Mediator for module interactions
  p Code examples
