section
  h2 Backbone, Require &amp; me

section
  h3 Backbone.js
  h4 Quick overview
  h4 Why we picked it
  h4 What we use Backbone for

section
  h3 Require.js
  h4.shake.shake-slow.shake-constant.hover-stop Very Quick Overview™
  h4 Why we picked it (because it's in the distro)

section
  h3 Custom additions
  h4 View manager, Mediator (more details later)
