section.forced-white(data-bespoke-backdrop='forced-white')
  h1 #1
  br
  br
  br
  br
  br
  br
  br
  br
  h1 What? Why? How?
  img(src='./images/1-whatwhyhow.gif')

section
  h1 What?
  br
  br
  br
  h2 Dennis Gallery Advanced
  br
  br
  br
  ul
    li
      h4 Out of the box solution for Distro sites
    li
      h4 Feature module
    li
      h4 Can coexist with Dennis Gallery
    li
      h4 Same back-end experience
    li
      h4 Better editorial experience
    li
      h4
        span.red So Much Better User Experience

section
  h1 Why?
  br
  br
  br
  h4.bullet
  h4.bullet We spend a significant amount of cash on PPC to help serve ad campaigns
  br
  h4.bullet This impacts our profit level so by increasing page views/session we can reduce marketing spend
  br
  h4.bullet We also knew that our old gallery had a clunky user experience that needed improving.
  h4.bullet
    em from Nick Flood

section
  h3 We also knew that our old gallery had a clunky user experience that needed improving.

section
  h2.bullet We also knew that our old gallery had a clunky user experience that needed improving.

section
  h1.bullet We also knew that our old gallery had a clunky user experience that needed improving.

section
  h1 Why?
  br
  br
  br.bullet
  h3.bullet Because of Dennis Gallery

section.forced-white(data-bespoke-backdrop='forced-white' style='background: url(./images/1-dennis_gallery_er.jpg) no-repeat center center; background-size: 100% auto')
  ul
    li
    li
      h2.shake.shake-slow.shake-constant
        strong(style='color:red; font-size:200px; border:22px solid; padding:.15em;') FAIL

section.forced-black(data-bespoke-backdrop='forced-black' style='background: black url(./images/1-dennis_gallery_adv_evo.jpg) no-repeat center center; background-size: 100% auto')

section
  h1 How?
  br
  br
  h3.bullet New approach → Start from scratch
  h4.bullet Try To Do It Properly&nbsp;
    span.bullet → Not a single BUA ticket on the board
  ul
    li
      h4 Identified requirements
    li
      h4 Did tech research
    li
      h4 Built static HTML prototype
    li
      h4 Tested Search Engine Friendliness
    li
      h4 Started on architecture and identified key tools

section
  h1 Status
  br
  h4.bullet The new advanced gallery is now live on:
  h4.bullet Evo
  h4.bullet AutoExpress
  h4.bullet CarBuyer
  br
  br
  h4.bullet Shortly to be live on Expert Reviews and then DOG US

section
  h1 Performance
  br
  br
  h4.bullet New gallery has served
    span.red.shake.shake-slow.shake-constant &nbsp;&nbsp;10,000,000&nbsp;&nbsp;
    span images to date
  p.bullet (hit the number yesterday)
  br
  br
  h4.bullet Autoexpress increased page views per visit by
    span.red.shake.shake-rotate.shake-constant &nbsp;&nbsp;20%&nbsp;&nbsp;

section.forced-white(data-bespoke-backdrop='forced-white' style='background: url(./images/1-ga.png) no-repeat center center; background-size: 100% auto')

section.forced-white(data-bespoke-backdrop='forced-white' style='background: url(./images/1-ga2.png) no-repeat center center; background-size: 100% auto')
